

@font-face {
    font-family: 'RobotoR';
    src: url('../font/roboto.ttf') format('truetype'); /* Passe den Pfad entsprechend an */
}

@font-face {
    font-family: 'RobotoM';
    src: url('../font/robotomedium.ttf') format('truetype'); /* Passe den Pfad entsprechend an */
}

@font-face {
    font-family: 'Anton';
    src: url('../font/anton.ttf') format('truetype'); /* Passe den Pfad entsprechend an */
}

p {
    font-family: 'RobotoR', sans-serif;
}

.medium {
    font-family: 'RobotoM', sans-serif;
    font-size: larger;
}

.colored {
    font-size: larger;
    color: #4F85A1;
}

.cursive {
    font-style: italic;
}

.large {
    font-family: 'RobotoM', sans-serif;
    font-size: x-large;
}

.navbar a {
    font-family: 'RobotoR', sans-serif;
    color: #36ABE0;
}

.custom-bg-primary {
    background-color: #4F85A1;
    position: relative;
}

.custom-bg-primary::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 22px;
    bottom: 25px;
    width: 5px; /* Breite des senkrechten Strichs */
    height: 80%;
    background-color: white; /* Farbe des senkrechten Strichs */
}

.medium, .cursive {
    padding-left: 10px; /* Platzieren Sie den Text rechts neben dem senkrechten Strich */
}

h2 {
    font-family: Anton, sans-serif;
    font-size: 2.5rem;
    color: #4F85A1;
}

h1 {
    font-family: Anton, sans-serif;
    font-size: 5rem;
    color: #4F85A1;
}

.align-right {
    text-align: right;
}

.background-gradient {
    background-image: linear-gradient(to bottom, white, #f8e1c5);
}

.background-gradient2 {
    background-image: linear-gradient(to top, white, white, white, white, #4F85A1);
}

.object-fit-cover {
    object-fit: cover;
}

.buttonprimary {
    background-color: #4F85A1;
    color: white;
    border-radius: 20px;
    height: 50px;
    padding: 10px 20px;
}

/* Responsive Anpassungen */
@media (max-width: 600px) {
    h1 {
        font-size: 4rem; /* Erhöht die Schriftgröße von h1 für kleine Bildschirme */
    }

    h2 {
        font-size: 2.5rem; /* Erhöht die Schriftgröße von h2 für kleine Bildschirme */
    }

    .large {
        font-size: 1.75rem; /* Erhöht die Schriftgröße der Klasse large für kleine Bildschirme */
    }

    .medium {
        font-size: 1.25rem; /* Erhöht die Schriftgröße der Klasse medium für kleine Bildschirme */
    }

    .colored {
        font-size: 1.25rem; /* Erhöht die Schriftgröße der Klasse colored für kleine Bildschirme */
    }

    p {
        font-size: 1.25rem; /* Erhöht die Schriftgröße von p für kleine Bildschirme */
    }

    .cursive {
        font-size: 1.25rem; /* Erhöht die Schriftgröße der Klasse cursive für kleine Bildschirme */
    }

    .buttonprimary {
        width: 100%;
        padding: 10px 0;
        font-size: 1.2rem; /* Erhöht die Schriftgröße der Klasse buttonprimary für kleine Bildschirme */
    }

    .custom-bg-primary::before {
        left: 10px;
        width: 3px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4.25rem;
    }

    .large {
        font-size: 2.75rem;
    }

    .medium {
        font-size: 2.25rem;
    }
    p {
        font-size: 3rem !important;
    }

    .cursive {
        font-size: 3rem !important;
    }

    .buttonprimary {
        width: auto;
        height: auto;
        padding: 10px 15px;
        font-size: 1.8rem;
    }

    .custom-bg-primary::before {
        left: 15px;
        width: 4px;
    }
    #navlogo {
        width: 70% !important;
    }
    .navList {
        font-size: 2.5rem;
    }
    #copyright {
        font-size: 2rem !important;
    }
    #impressumLink {
        font-size: 2rem !important;
    }
}

@media (min-width: 1025px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .large {
        font-size: 2rem;
    }

    .medium {
        font-size: 1.5rem;
    }

    .buttonprimary {
        width: auto;
        padding: 10px 20px;
        font-size: 1.2rem;
    }

    .custom-bg-primary::before {
        left: 20px;
        width: 5px;
    }
}